/***** GOOGLE FONTS *****/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/***** ROOT *****/

:root {

    --bg-color: hsl(0, 0%, 100%);
    --font: 'League Spartan';
    --heading-fs: 3rem;
    --mobile-heading: 2rem;
    --body-fs: 15px;
    --small-body-fs: 12px;
    --xs-body-fs: 10px;
    --xxs-body-fs: 8px;
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;
    --dark-color: hsl(300, 43%, 22%);
    --medium-color: hsl(333, 80%, 67%);
    --light-color: hsl(303, 10%, 53%);
    --lighter-color: hsl(300, 24%, 96%);
    --lightest-color: hsl(0, 0%, 100%);
    --star-color: rgb(240, 149, 74);
    --hover: scale(1.1);
    --transition: all .3s ease;

    --desktop-container: 1440px;
    --mobile-container: 375px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    max-width: var(--desktop-container);
    background-color: var(--bg-color);
    font-family: var(--font);
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;  
}


img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin: 4rem 8rem;
}

.top-section {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    max-width: 400px;
}

.top-section .header-text h1 {
    font-size: var(--heading-fs);
    color: var(--dark-color);
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    margin-right: 15px;

}

.top-section p {
    color: var(--light-color);
    line-height: 1.275rem;
}


.raiting-cards {
    grid-column: 2/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.raiting {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: var(--lighter-color);
    border-radius: 5px;
    transition: var(--transition);
}

.raiting:hover {
    transform: var(--hover);
}

.raiting span {
    color: var(--star-color);
    margin-right: 15px;
    border: none;
}

.raiting p {
    color: var(--dark-color);
    font-weight: var(--weight-700);
    font-size: var(--small-body-fs);
}

#card-1 {
    margin-left: 20px;
}

#card-2 {
    margin-left: 60px;
}

#card-3 {
    margin-left: 100px;
}

.verifications {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.verfification-card {
    width: 100%;
    max-width: 250px;
    height: 150px;
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 20px;
    transition: var(--transition);
}

.verfification-card:hover {
    transform: var(--hover);
}

.verfification-card .card-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.verfification-card img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.verfification-card .card-top span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    font-size: var(--xxs-body-fs);
    line-height: 1rem;
}
.verfification-card .card-top span h2 {
    color: var(--lighter-color);
}

.verfification-card .card-top span h3 {
    color: var(--medium-color);
}

.verfification-card .card-bottom {
    font-size: var(--small-body-fs);
    color: var(--lighter-color);
    line-height: 1rem;
}

.bottom-bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -20%;
    overflow: hidden;
    z-index: -1;
}

.mobile-bottom-bg {
    display: none;
}


@media only screen and (max-width: 375px) {
    .mobile-container {
        width: 100%;
        max-width: var(--mobile-container);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }

    .top-section {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .top-section .header-text h1 {
        font-size: var(--mobile-heading);
        color: var(--dark-color);
        margin: 1.5rem 3rem;
    }

    .top-section .header-text p {
        margin: 1.5rem 3rem;
    }

    .raiting-cards {
        display: flex;
        flex-direction: column;
        margin: 0 2.5rem;
    }

    #card-1,
    #card-2,
    #card-3 {
        margin-left: 0;
    }

    .verifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin: 1.5rem 3rem;
    }
    
    .bottom-bg {
       display: none;
    }
}